.App {
  text-align: center;
  background-color:rgb(173, 197, 246);
  
}

.App-header {
  background-color:rgb(89, 70, 232);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

h1 {
  text-align: center;
  color: rgb(10, 52, 137);
  font-size: 70px;
}

nav {
  background-color: rgb(73, 10, 93);
  padding: 10px;
  text-align: center;
  font-size: 6px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 25px;
  margin-left: 20px;
}

nav a {
  color: white;
  font-size: 10 px;
}

a:link {
  text-decoration: none;
}

nav a:hover {
  color: rgb(118, 255, 175);}


main {
  margin-right: 20px;
  margin-left: 20px;
}




.button{
  margin-right: 800 px;
  background-color: rgb(22, 228, 255);
  border-radius: 10px;
  border-color: none;
  padding: 20px;
  font-size: 30px
}

button:focus { outline: none; }

.About{
  text-align: center;
  font-size: 30px;
}

#background_About{
  background-color:antiquewhite;
}

.main-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Nav-text{
  font-size: 30px;
}

.title{
 padding-top: 40px;
 padding-bottom: 40px;

}

.myDIV {
  height:300px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.image{
  width:300px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


